.vscode/settings.json
.obsidian/*
.SearchEngine/data
.SearchEngine/feedmeta
.SearchEngine/html
.SearchEngine/markdown
.SearchEngine/segments
.SearchEngine/transcriptions
*.zip
.ipynb_checkpoints/
Codes/blog_post/media/
__pycache__/